In [1]:
from data_retriever import DataRetriever

In [7]:
a = DataRetriever()
b = a.download_yahoo_data()

[*********************100%***********************]  7 of 7 completed

In [8]:
b

,Date,AMZN_Open,AMZN_High,AMZN_Low,AMZN_Close,AMZN_Volume,ABEV3.SA_Open,ABEV3.SA_High,ABEV3.SA_Low,ABEV3.SA_Close,...,AAPL_Open,AAPL_High,AAPL_Low,AAPL_Close,AAPL_Volume,7011.T_Open,7011.T_High,7011.T_Low,7011.T_Close,7011.T_Volume
0,2010-01-04,136.250000,136.610001,133.139999,133.899994,7599900.0,4.064485,4.193407,4.023700,4.187932,...,6.544802,6.577613,6.512604,6.562587,493729600.0,2525.169489,2563.780643,2525.169489,2548.336182,595100.0
1,2010-01-05,133.429993,135.479996,131.809998,134.690002,8851900.0,4.160834,4.228991,4.160834,4.212567,...,6.580681,6.611040,6.539283,6.573935,601904800.0,2571.503110,2602.392036,2556.058647,2579.225342,1514700.0
2,2010-01-06,134.600006,134.729996,131.649994,132.250000,7178800.0,4.178625,4.255814,4.174245,4.255541,...,6.573935,6.600000,6.462622,6.469368,552160000.0,2579.225342,2579.225342,2579.225342,2579.225342,1113300.0
3,2010-01-07,132.009995,132.320007,128.800003,130.000000,11030200.0,4.261837,4.275523,4.201618,4.275523,...,6.493287,6.500954,6.410492,6.457409,477131200.0,2602.392320,2671.892412,2594.670088,2633.281250,2699700.0
4,2010-01-08,130.559998,133.679993,129.029999,133.520004,9830500.0,4.242677,4.293315,4.216126,4.267312,...,6.448823,6.500953,6.410799,6.500340,447610800.0,2664.169540,2749.114076,2656.447310,2741.391846,3562400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2878,2021-01-25,3328.500000,3363.889893,3243.149902,3294.000000,3749800.0,NaN,NaN,NaN,NaN,...,142.400956,144.411498,135.901478,142.251648,157611700.0,3019.276914,3060.742551,3019.276914,3045.313477,1173100.0
2879,2021-01-26,3296.360107,3338.000000,3282.870117,3326.129883,2955200.0,15.210000,15.690000,15.190000,15.400000,...,142.928454,143.625177,140.708872,142.490509,98390600.0,3032.777260,3051.099284,2977.811185,2999.990479,1260800.0
2880,2021-01-27,3341.489990,3346.520020,3207.080078,3232.580078,4660200.0,15.400000,15.590000,15.170000,15.400000,...,142.759249,143.625191,139.753383,141.395660,140843800.0,3011.562242,3035.670169,2999.990437,3017.348145,1053500.0
2881,2021-01-28,3235.040039,3301.679932,3228.689941,3237.620117,3149200.0,15.390000,15.760000,15.260000,15.540000,...,138.867542,141.325993,136.060723,136.448898,142621100.0,2917.058986,3001.918884,2907.415816,2975.882324,3208300.0
2882,2021-01-29,3230.000000,3236.989990,3184.550049,3206.199951,4293600.0,15.400000,15.670000,15.070000,15.110000,...,135.194793,136.100541,129.601079,131.342896,177523800.0,2965.274872,2976.846677,2889.093827,2891.022461,2410300.0

In [6]:
b.reset_index(drop=True)

,B3SA3.SA_Open,B3SA3.SA_High,B3SA3.SA_Low,B3SA3.SA_Close,B3SA3.SA_Volume,ABEV3.SA_Open,ABEV3.SA_High,ABEV3.SA_Low,ABEV3.SA_Close,ABEV3.SA_Volume,...,AAPL_Open,AAPL_High,AAPL_Low,AAPL_Close,AAPL_Volume,ITUB3.SA_Open,ITUB3.SA_High,ITUB3.SA_Low,ITUB3.SA_Close,ITUB3.SA_Volume
0,7.964326,8.392028,7.964326,8.392028,17197200.0,4.064485,4.193407,4.023700,4.187933,818417.0,...,6.544804,6.577616,6.512606,6.562590,493729600.0,8.183039,8.472270,8.183039,8.472270,627000.0
1,8.404989,8.482753,8.294823,8.424430,13877200.0,4.160834,4.228990,4.160834,4.212567,1604298.0,...,6.580681,6.611040,6.539283,6.573935,601904800.0,8.458625,8.485910,8.363124,8.485910,183158.0
2,8.379067,8.806769,8.340185,8.741965,29372700.0,4.178627,4.255816,4.174247,4.255543,508069.0,...,6.573937,6.600002,6.462623,6.469369,552160000.0,8.485910,8.485910,8.368581,8.485910,116395.0
3,8.618839,9.033580,8.579957,8.949336,19797400.0,4.261837,4.275523,4.201618,4.275523,2690516.0,...,6.493286,6.500952,6.410490,6.457407,477131200.0,8.423152,8.431338,8.357666,8.404052,136820.0
4,8.936375,9.007659,8.703084,8.741965,10376500.0,4.242676,4.293314,4.216125,4.267311,588159.0,...,6.448822,6.500952,6.410798,6.500339,447610800.0,8.374038,8.398595,8.221237,8.308552,95971.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2878,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,142.400925,144.411467,135.901449,142.251617,157611700.0,NaN,NaN,NaN,NaN,NaN
2879,18.673719,19.070488,18.494533,18.974495,38531100.0,15.210000,15.690000,15.190000,15.400000,28714100.0,...,142.928469,143.625193,140.708887,142.490524,98390600.0,25.401973,25.989301,24.804855,24.951687,895400.0
2880,18.868901,19.163278,18.782507,18.881701,31539900.0,15.400000,15.590000,15.170000,15.400000,27437800.0,...,142.759233,143.625175,139.753368,141.395645,140843800.0,24.902744,25.372606,24.648234,24.951687,582000.0
2881,18.878503,19.646442,18.846506,19.611246,27892800.0,15.390000,15.760000,15.260000,15.540000,20208100.0,...,138.867527,141.325977,136.060708,136.448883,142621100.0,25.029999,26.175291,24.990845,26.008881,552500.0
2882,19.358464,19.515252,18.894500,19.134481,46811400.0,15.400000,15.670000,15.070000,15.110000,23141500.0,...,135.194777,136.100525,129.601064,131.342880,177523800.0,25.862050,26.096982,25.206200,25.274721,1350900.0

In [ ]:
dr = DataRetriever()
pp = PreProcessing()

yahoo_ds = dr.download_yahoo_data()
scaled_yahoo_ds = pp.values_scaler_partition_by_2(yahoo_ds, 'Ticker', 'Var', 'value', MinMax)

In [2]:
scaled_yahoo_ds

            Date     Var    Ticker     value stock_market
0     2010-01-04    Open  ABEV3.SA  0.013577           B3
1     2010-01-04    High  ABEV3.SA  0.018107           B3
2     2010-01-04     Low  ABEV3.SA  0.012811           B3
3     2010-01-04   Close  ABEV3.SA  0.020651           B3
4     2010-01-04  Volume  ABEV3.SA  0.002845           B3
...          ...     ...       ...       ...          ...
13630 2021-01-25  Volume    7011.T  0.095970          TSE
13631 2021-01-26  Volume    7011.T  0.103145          TSE
13632 2021-01-27  Volume    7011.T  0.086186          TSE
13633 2021-01-28  Volume    7011.T  0.262468          TSE
13634 2021-01-29  Volume    7011.T  0.197184          TSE

[96615 rows x 5 columns]

In [ ]:

sdate
edate
pd.date_range(sdate,edate-timedelta(days=1),freq='d')